.wrapper {
    padding: 50px;
    display: flex;
}

.img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.ImgContainer {
    flex: 1;
}

.title {
    font-weight: 200;
}

.description {
    margin: 20px 0px;
}

.infoContainer {
    flex: 1;
    padding: 0px 50px;
}


.Price {
    font-weight: 100;
    font-size: 40px;
}


.FilterContainer {
    width: 50%;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}


.Filter {
    display: flex;
    align-items: center;
}


.FilterTitle {
    font-size: 20px;
    font-weight: 200;
}


.FilterColor {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    margin: 0px 5px;
    cursor: pointer;
}


.FilterSize {
    margin-left: 10px;
    padding: 5px;
}




.AddContaine {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.AmountContainer {
    display: flex;
    align-items: center;
    font-weight: 700;
}


.Amount {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}


.Button {
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
}

Button:hover {
    background-color: #f8f4f4;
}